/*

@mixin media($media) {
    @if $media == ‘desktop’ {
        min-width: 1024px;
    } @else {
        min-width: 768px;
      }
    }
  
    .foo {
        @include media('desktop'){



        }

*/



        @mixin media($device) {
            @if $device == "tablet" {
            @media screen and (min-width: 768px) {
                @content;
            }
        }

            @else if $device == "desktop" {
                @media screen and (min-width: 1024px) {
                    @content;
                }
        }

            @else if $device == "smarttv" {
                @media screen and (min-width: 1400px) {
                    @content;
                }
        }
}


        h1 { 
            font-size: 20px;

            @include media("tablet") {
                font-size: 24px;


            }

            @include media("desktop") {
                font-size: 30px;


            }

            @media screen and (min-width: 1024px) {
                @content;
            }
        }



        }

